
@{
    ViewBag.Title = "Visitor Info";
}

<h2>Visitor Info</h2>
<img alt="Getting to NYC" src="/images/info_timesquare.jpg" style="float: left; margin: 5px 10px 5px 0pt;" />
<strong>General Info</strong><br />
	Welcome to NYC. Planning a trip to the five boroughs can be part of the fun, but there&rsquo;s also a lot of ground to cover&mdash;how to get here, what to expect from the weather, how to hail a taxi and much more. In this section, you&#39;ll find essential information to help you make the most of your visit.<br />
<br />
<strong>Geography </strong><br />
New York City is composed of five boroughs. While Manhattan and Staten Island are islands, Brooklyn and Queens are geographically part of Long Island, and the Bronx is attached to the US mainland. The islands are linked by bridges, tunnels and ferries. </p>
<p>
    Manhattan is 13.4 miles long and 2.3 miles wide at its widest. Except at its northern and southern tips, the borough&#39;s avenues run roughly north and south, and streets run east and west. One-way thoroughfares are common, with traffic moving east on even-numbered streets and west on odd-numbered streets. Fifth Avenue divides the island into east and west sides (for example, locations on 57th Street west of Fifth Avenue are designated "W. 57th St.," and east of Fifth Avenue, they&#39;re "E. 57th St."). As you move farther east or west from Fifth Avenue, street addresses increase, usually in increments of 100 from one block to the next. For north-south avenues, 20 blocks equals a mile, and the street numbers increase as you go uptown. Blocks can be a useful measure of distance, but keep in mind your direction: walking uptown from 1st Street to 6th Street is about a quarter of a mile, but walking the same number of blocks crosstown, from First Avenue to Sixth Avenue, is approximately a mile.
</p>
<strong>Time Zone</strong><br />
<p>	New York City is on the eastern standard time (Greenwich mean time minus four hours during daylight saving time, from March into early November, and minus five hours the rest of the year). Here is the current date and time in NYC:</p>



